<!DOCTYPE html>
<html>
<head>
	<title>Untitled</title>
</head>
<body>
  <script type="text/javascript" src="/_ah/channel/jsapi"></script>
  <script>
    function relayChannelMessage(messageType, opt_messageData) {
      var messageString = JSON.stringify({
        type: messageType,
        data: opt_messageData || ''
      });
      
      // TODO(mihaip): use a specific target origin if possible
      window.top.postMessage(messageString, '*');
    }
    
    var channel = new goog.appengine.Channel('{{ channel_token }}');
    var socket = channel.open({
      onopen: function() { relayChannelMessage('open'); },
      onmessage: function(message) { relayChannelMessage('message', message); },
      onerror: function(error) { relayChannelMessage('error', error); },
      onclose: function() { relayChannelMessage('close'); }
    });
  </script>

</body>
</html>
